@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
body {
    font-family: "Mukta", sans-serif;
    margin: ;
}

h1 {
    font-size: 50px;
    text-transform: capitalize;
}

.name-highlight {
    color: orange;
}

h3 {
    text-transform: capitalize;
    font-size: 24px;
}

.professional {
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.half-width {
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    width: 40%;
}

.half-width img {
    width: 100%;
}

.button {
    background-color: orange;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    padding: 3px 6px;
    border-radius: 6%;
    color: whitesmoke;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.438);
}

.button:hover {
    cursor: pointer;
}

.button:active {
    transform: translateY(0.8px);
    box-shadow: 0.5px 1px 1.5px rgba(0, 0, 0, 0.11);
}

.img-one {
    width: 35%;
    float: left;
    margin: 3%;
    padding: 2%;
}

.dream {
    width: 45%;
    float: right;
}

.h-one {
    margin-bottom: 0px;
    display: block;
    text-transform: capitalize;
}

.h-three {
    display: inline-block;
    text-transform: capitalize;
    margin-top: 0px;
}

.p-two {
    text-align: justify;
    margin-top: 0px;
}

.img-three {
    position: absolute;
    bottom: -26%;
}

.dream-img {
    width: 50%;
    right: -420%;
    position: relative;
}